<div class="content-section">
    <h5 class="badge badge-info font-italic" style="font-size:18px">About the Author </h5>
    <p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a
                    href="https://www.linkedin.com/in/georges-bou-ghantous/" target="_blank">Linked
                    In</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="https://www.uts.edu.au/staff/georges.boughantous-1" target="_blank">UTS
                    Profile</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="mailto:georges.boughantous-1@uts.edu.au" target="_blank">Email</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="https://github.com/Georges034302" target="_blank">GitHub</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="https://orcid.org/0000-0003-3732-7085" target="_blank">ORCID</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="https://publons.com/researcher/1622796/georges-bou-ghantous/"
                    target="_blank">Publons</a></li>
            <li class="list-group-item list-group-item-light"><a
                    href="https://scholar.google.com/citations?user=3Wjd5tYAAAAJ&hl=en"
                    target="_blank">Google Scholar</a></li>
        </ul>
    </p>
</div>
