<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container-fluid">
        <span class="navbar-brand mr-4 d-flex align-items-center">
            <img src="media/profile/profile.jpg" alt="Profile"
                class="rounded-circle mr-2"
                style="height: 32px; width: 32px; object-fit: cover;">
            DRA Framework &#169;
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="index.html">Home</a>
                <a class="nav-item nav-link" href="pages/dra1.html">DRAv1.0</a>
                <a class="nav-item nav-link" href="pages/dra2.html">DRAv2.0</a>
            </div>
        </div>
    </div>
</nav>
