<div class="content-section">
    <h4 class="progress-bar bg-info progress-bar-striped">Publications</h4>
    <p>
        <p class="blockquote-footer font-weight-bold text-info " style="font-size:20px">Ph.D. Thesis
        </p>
        <ul class=" list-group">
            <li class="list-group-item">
                <a href="https://opus.lib.uts.edu.au/handle/10453/140955" target="_blank">
                    <small>A DevOps Reference Architecture for Multi-Cloud IoT Applications
                        Deployment</small>
                </a>
                <span class="badge badge-primary badge-pill float-right">UTS</span>
            </li>
        </ul>
    </p>
    <p>
        <p>
            <p class="blockquote-footer font-weight-bold text-info " style="font-size:20px">Journals
            </p>
            <ul class=" list-group">
                <li class="list-group-item">
                    <a href="https://link.springer.com/article/10.1007/s42979-021-00519-6"
                        target="_blank">
                        <small>Evaluating the DevOps Reference Architecture for Multi-cloud
                            IoT-Applications</small>
                    </a>
                    <span class="badge badge-primary badge-pill float-right">Springer</span>
                </li>
                <li class="list-group-item">
                    <a href="https://www.ijlter.org/index.php/ijlter/article/view/1499" target="_blank">
                        <small>An Agile-DevOps Reference Architecture for Teaching Enterprise
                            Agile</small>
                    </a>
                    <span class="badge badge-primary badge-pill float-right">JTLTER</span>
                </li>
            </ul>
        </p>
        <p>
            <p class="blockquote-footer font-weight-bold text-info " style="font-size:20px">
                Conferences
            </p>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="https://opus.lib.uts.edu.au/bitstream/10453/130066/1/DevOps-%20Concepts%20Practices%20Tools%20Benefits%20and%20Challenges.pdf" target="_blank">
                        <small>DevOps: Concepts, Practices, Tools, Benefits and Challenges</small>
                        <span class="badge badge-primary badge-pill float-right">IEEE</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://ieeexplore.ieee.org/document/8452669" target="_blank">
                        <small>DevOps Reference Architecture for Multi-Cloud IoT
                            Applications</small>
                        <span class="badge badge-primary badge-pill float-right">IEEE</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://ieeexplore.ieee.org/document/9192390" target="_blank">
                        <small>The DRA Evaluation - A Design Science Research Case Study</small>
                        <span class="badge badge-primary badge-pill float-right">IEEE</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://link.springer.com/chapter/10.1007/978-3-031-73344-4_14" target="_blank">
                        <small>Enabling Digital Transformation Using DRA</small>
                        <span class="badge badge-primary badge-pill float-right">Springer</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://publications.waset.org/10013921/redefining-infrastructure-as-code-orchestration-using-ai" target="_blank">
                        <small>Redefining "Infrastructure as Code" Orchestration Using AI</small>
                        <span class="badge badge-primary badge-pill float-right">WASET</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://publications.waset.org/10013998/the-impact-of-ai-on-higher-education" target="_blank">
                        <small>The Impact of AI on Higher Education</small>
                        <span class="badge badge-primary badge-pill float-right">WASET</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://opus.lib.uts.edu.au/handle/10453/187023" target="_blank">
                        <small>Enhancing devops using ai</small>
                        <span class="badge badge-primary badge-pill float-right">CEUR-WS</span>
                    </a>
                </li>
            </ul>
        </p>
</div>
